*
    box-sizing: border-box
    
html,body
    height: 100%
    font-family: 'Roboto', sans-serif

html, body, p, h1
    margin: 0
    padding: 0

section
    height: 100%
    overflow: hidden
    background-attachment: fixed
    background-repeat: no-repeat
    background-size: cover
    background-position: center

footer
    display: flex
    justify-content: space-between
    align-items: center
    height: 60px
    padding: 0 40px
    color: white
    background: linear-gradient(90deg,#00141b,#1a0033, #240a00, #040020)

.container
    display: flex
    color: white
    width: 100%
    height: 100px
    align-items: center
    justify-content: center
    .header
        display: flex
        justify-content: center
        font-size: 26px
        font-weight: 900
        letter-spacing: 10px
    .info
        margin-left: 150px
        width: 600px
        font-size: 18px
        font-weight: 300
        letter-spacing: 1px


.main-info
    font-size: 24px
    font-weight: 900

.description-info
    font-weight: 300
    cursor: pointer
    transition: .3s ease
    &:hover
        text-shadow: 0 0 5px #fff

.author-info > *
    font-weight: 300
    color: white
    cursor: pointer
    text-decoration: none
    transition: .3s ease
    &:hover
        text-shadow: 0 0 5px #fff


#star
    opacity: 0.4
    height: 100vh
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 0
#maincanvas
    height: 100%
    width: 100%

.first-picture
    display: flex
    align-items: center
    justify-content: center
    background-color: #1b001f
    background-image: url(./images/sky2.jpg)
    position: relative
    .first-main-text
        z-index: 1
        color: transparent
        font-size: 140px
        -webkit-text-stroke: 1px white
        transform: skewx(-10deg)
        line-height: 110px
        .text1
            transition: .3s ease
        .text2
            transition: .1s ease

.second-picture
    display: flex
    align-items: center
    justify-content: center
    background-image: url(./images/planet.jpg)
    .planet
        height: 250px
        width: 250px
        background-size: contain
        background-repeat: no-repeat
        &::after
            opacity: 0
            transition: .3s ease
            transform: translatey(60px)
            display: flex
            justify-content: center
            position: relative
            bottom: 50px
            color: white
            font-size: 30px
            font-weight: 300
    .first-planet
        position: relative
        z-index: 2
        background-image: url(./images/planet-solar/venus.png)
        &::after
            content: "Venus"
    .visible
        &::after
            opacity: 1 !important
            transform: none !important
    .second-planet
        position: absolute
        background-image: url(./images/planet-solar/mars.png)
        &::after
            content: "Mars"
    .third-planet
        position: absolute
        background-image: url(./images/planet-solar/mercury.png)
        &::after
            content: "Mercury"
    .fourth-planet
        background-image: url(./images/planet-solar/earth.png)

.third-picture
    display: flex
    flex-direction: column
    height: calc(100% +40px)
    perspective: 400 
    background-image: url(./images/sky.jpg)
    .blur
        position: absolute
        top: 0
        left: 0
        z-index: 50
        width: 100%
        height: 100%
        background-color: #000
        opacity: 0.6
    .wrapper-mars-pic
        position: relative
        z-index: 100
        display: flex
        height: 50%
        width: 300%
        padding: 10px 0
        background-color: #b8c6db
        background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%)
        .work
            height: 100%
            width: calc(100%/3)
            background-repeat: no-repeat
            background-size: cover
            background-position: center
        .mars-work
            background-image: url(./images/planet-solar/orig.jpg)
        .cosmo-work
            background-image: url(./images/planet-solar/cosmo.jpg)
        .cosmo2-work
            background-image: url(./images/planet-solar/cosmo2.jpg)
    .second-part
        margin-top: 40px
        display: flex
        justify-content: space-around
        align-items: flex-start
        height: 50%
        width: 100%
        .gallery
            transition: .5s ease
            width: 296px
            height: 296px
            position: relative
            background-color: white
            padding: 8px
            border-radius: 10px
            p
                display: flex
                justify-content: center
                align-items: center
                top: -20px
                left: -20px
                width: 60px
                height: 60px
                font-size: 45px
                font-weight: 900
                position: absolute
                background-color: #5b72f5
                color: white
                border-radius: 50%
            .photo
                height: 280px
                background-size: cover
                background-repeat: no-repeat
                background-position: center
            .photo1
                background-image: url(./images/planet-solar/cosmo2.jpg)
            .photo2
                background-image: url(./images/planet-solar/cosmo.jpg)
            .photo3
                background-image: url(./images/planet-solar/orig.jpg)
            .text-photo-inner
                display: flex
                justify-content: center
                align-items: center
                padding: 0 5px
                font-size: 20px
                border-radius: 5px
                width: 296px
                height: 45px
                background-color: white
                color: black
                position: absolute
                z-index: -1
                bottom: 0px
                left: 0
        .trigger11
            position: relative
            z-index: 100
        .trigger22
            position: relative
            z-index: 100
        .trigger33
            position: relative
            z-index: 100

.fourth-picture
    background-image: url(./images/space.jpg)

.first-color
    background: linear-gradient(90deg,#1d0025,#460037, #2e0019)

.second-color
    background: linear-gradient(45deg,#0a000e, #03001a, #5e0049)

.third-color
    background: linear-gradient(90deg,#0a000e,#003f47)

.fourth-color
    background: linear-gradient(45deg,#0a000e,#000f30, #300a00)

::-webkit-scrollbar 
  width: 8px

::-webkit-scrollbar-track
  background: rgb(32, 16, 78)
 
::-webkit-scrollbar-thumb
  background:  linear-gradient(45deg, #c40c77, #1618af)
  border-radius: 5px

::-webkit-scrollbar-thumb:hover
  background: linear-gradient(45deg, #920c5a, #0c0e7e)